<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <% include pageHead.html %>
    <link rel="stylesheet" type="text/css" href="../css/style-index.css" />
    <link rel="stylesheet" type="text/css" href="../css/style-swf.css" />
    <script src="../js/jquery-powerSwitch.min.js"></script>
    <script src="../js/index.js"></script>
    <script type="text/javascript">
        var base="${base}";
    </script>
</head>
</head>
<body>

<% include pageTop.html %>
<div class="indexSwfWrap">
    <div class="mid1200">

    </div>
</div>
<div class="divMain">
    <div class="indexSwf">
        <!--轮播s-->
        <div id="roll_Box" class="rollBox">
            <!--播放内容-->
            <div id="tab_Auto_Play" class="tabAutoPlay"></div>
            <!--左右按钮-->
            <ul id="tab_Auto_Btn" class="tabBtn">
                <!--点点点-->
                <!--用下面的json生成按钮-->
            </ul>
            <ul class="tab_content" id="tab_content">
                <!--用下面的json生成广告-->
            </ul>
        </div>
        <!--轮播e-->
    </div>
    <div class="memBox loginBox">
        <img src="../img/iconLogoG.png" class="logoG">
        <p class="title">手机登录</p>
        <div class="hang">
            <div class="icon iconSj"></div><input type="text" value="请输入手机号码" class="uPhone inputTxt uPhoneNum"><div class="clear"></div>
        </div>
        <div class="hang">
            <div class="icon icon123"></div><input type="text" value="图形验证码" class="uPhone inputTxt uNum"><img src="../img/123.jpg"> <div class="clear"></div>
        </div>
        <div class="hang hangEnd">
            <div class="icon iconPwd"></div><input type="text" value="请输入验证码" class="uPwd inputTxt userYzm">
            <input type="button" value="验证码" class="uGetNum">
            <div class="clear"></div>
        </div>
        <input type="button" value="登 &nbsp;录" class="uBtn">
        <p class="errInfo">
            手机号码不正确
        </p>
    </div><div class="clear"></div>
    <div class="listPptj titleA">
        <h3><div class="bg"></div> 品牌推荐<span>精选品牌，品质保证</span></h3>
        <a class="more" href="#" target="_blank" title="查看更多">查看更多</a><div class="clear"></div>
        <ul>
            <%for(var i=1;i<4;i++){%>
            <li><a href="#" title="品牌推荐" target="_blank"><%-img (386,285)%></a> </li>
            <%}%><div class="clear"></div>
        </ul>
    </div>
    <div class="listRcck titleB">
        <h3><div class="bg"></div> 产后康复<span>如初产康，产后修复专家~</span></h3>
        <a class="more" href="#" target="_blank" title="查看更多">查看更多</a><div class="clear"></div>
        <div class="lineA"></div>
        <ul class="listBox">
            <%for(var i=1;i<7;i++){%>
            <li>
                <a href="#" title="品牌推荐" target="_blank"><%-img (386,285)%></a>
                <p class="price">
                    <span>￥</span>288<span>.00</span>
                </p>
                <p class="name"><a href="#" target="_blank" title="产后肩颈护理">产后肩颈护理</a><br><span>原价￥666.00元</span> </p>
                <a class="buyBtn" target="_blank" href="#" title="预约试听">
                    预约体验
                </a><div class="clear"></div>
            </li>
            <%}%><div class="clear"></div>
        </ul>
    </div>
    <ul class="myfuwu">
        <li>
            <p>严格筛选优质月嫂，专业护理产妇与新生儿</p>
            <span>&nbsp;&nbsp;找月嫂&nbsp;》</span>
            <a class="tel" href="#" title="内容" target="_blank">&nbsp;&nbsp;查看更多&nbsp;》</a>
            <a class="more" href="#" title="内容" target="_blank">&nbsp;&nbsp;立即预约&nbsp;》</a>
        </li>
        <li>
            <p>小儿生活照料、护理以及科学教育、保育</p>
            <span>&nbsp;&nbsp;育儿师&nbsp;》</span>
            <a class="tel" href="#" title="内容" target="_blank">&nbsp;&nbsp;查看更多&nbsp;》</a>
            <a class="more" href="#" title="内容" target="_blank">&nbsp;&nbsp;立即预约&nbsp;》</a>
        </li>
        <li>
            <p>为产妇解决哺乳期乳房问题</p>
            <span>&nbsp;&nbsp;催乳师&nbsp;》</span>
            <a class="tel" href="#" title="内容" target="_blank">&nbsp;&nbsp;查看更多&nbsp;》</a>
            <a class="more" href="#" title="内容" target="_blank">&nbsp;&nbsp;立即预约&nbsp;》</a>
        </li>
        <li>
            <p>平衡阴阳  调和脏腑  行气活血  扶正祛邪</p>
            <span>&nbsp;&nbsp;小儿推拿&nbsp;》</span>
            <a class="tel" href="#" title="内容" target="_blank">&nbsp;&nbsp;查看更多&nbsp;》</a>
            <a class="more" href="#" title="内容" target="_blank">&nbsp;&nbsp;立即预约&nbsp;》</a>
        </li>
        <div class="clear"></div>
    </ul>
    <div class="listZjkt titleB">
        <h3><div class="bg"></div>专家课堂<span></span></h3>
        <a class="more" href="#" target="_blank" title="查看更多">查看更多</a>
        <ul class="titleNav">
            <%for(var i=1;i<8;i++){%>
            <li>
                <a href="#">服务名称<%-i%></a>
            </li>
            <%}%>
        </ul>
        <div class="clear"></div>
        <div class="lineA"></div>
        <ul class="listBox">
            <%for(var i=1;i<7;i++){%>
            <li>
                <a href="#" title="品牌推荐" target="_blank"><%-img (386,285)%></a>
                <p class="price">
                    <span>￥</span>288<span>.00</span>
                </p>
                <p class="name"><a href="#" target="_blank" title="产后肩颈护理">产后肩颈护理</a><br><span>原价￥666.00元</span> </p>
                <a class="buyBtn" target="_blank" href="#" title="预约试听">
                   预约试听
                </a><div class="clear"></div>
            </li>
            <%}%><div class="clear"></div>
        </ul>
    </div>
    <div class="listMysh titleB">
        <h3><div class="bg"></div>母婴生活<span></span></h3>
        <a class="more" href="#" target="_blank" title="查看更多">查看更多</a>
        <ul class="titleNav">
            <%for(var i=1;i<6;i++){%>
            <li>
                <a href="#">服务名称<%-i%></a>
            </li>
            <%}%>
        </ul>
        <div class="clear"></div>
        <div class="lineA"></div>
        <ul class="listBox">
            <%for(var i=1;i<4;i++){%>
            <li>
                <a href="#" title="品牌推荐" target="_blank"><%-img (386,285)%></a>
                <p class="price">
                    <span>￥</span>288<span>.00</span>
                </p>
                <p class="name"><a href="#" target="_blank" title="产后肩颈护理">产后肩颈护理</a><br><span>原价￥666.00元</span> </p>
                <a class="buyBtn" target="_blank" href="#" title="预约试听">
                    立即购买
                </a><div class="clear"></div>
            </li>
            <%}%><div class="clear"></div>
        </ul>
    </div>
</div>
<% include pageBottom.html %>
<div class="leftBarWrap">
    <ul class="leftBar">
        <li><a href="javascript:goshow('.listPptj');">品牌推荐</a></li>
        <li><a href="javascript:goshow('.listRcck');">产后康复</a></li>
        <li><a href="javascript:goshow('.myfuwu');">母婴护理</a></li>
        <li><a href="javascript:goshow('.listZjkt');">专家课堂</a></li>
        <li><a href="javascript:goshow('.listMysh');">母婴生活</a></li>
        <li><a href="#">在线客服</a></li>
        <li><a href="javascript:goshow('.topBar');">返回顶部</a></li>
    </ul>
</div>
</body>
</html>